*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
imageclassifier_test/src/main/assets/model_tflite_meta.tflite
imageclassifier_test/src/main/assets/capnet.tflite
